---
import Layout from "@/layouts/Layout.astro";
import Loading from "@/sections/Loading.astro";
import HomeBanner from "@/sections/HomeBanner.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import Body from "@/sections/Body.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title=`${i18n.SEO_TITLE}`>
  <main>
    <Loading />
    <Header />
    <div class="relative z-10 mt-[72px] h-screen">
      <HomeBanner />
    </div>
    <Body />
    <Footer />
  </main>
</Layout>
