---
import Layout from "@/layouts/Layout.astro";
import HomeBanner from "@/sections/HomeBanner.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import Body from "@/sections/Body.astro";
---

<Layout title="Fincas Barahona">
  <main>
    <Header />
    <div class="relative z-10 mt-[72px] h-screen">
      <HomeBanner />
      <Body />
    </div>
    <Footer />
  </main>
</Layout>
