---
import { Icon } from "astro-icon/components";
import { getI18N } from "@/i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="mx-auto mb-12 grid w-full md:w-[80%] divide-y divide-neutral-200 bg-white border border-gray-400/70 rounded px-6 py-2 md:p-8 md:py-4"
>
  {
    i18n.FAQ.CONTENT.map((data) => (
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between">
            <span>{data.title}</span>
            <span class="transition group-open:rotate-180">
              <Icon name="mdi:chevron-down" class="w-6 h-6" />
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
            {data.content}
          </p>
        </details>
      </div>
    ))
  }
</div>
