---
import Nav from "@/components/Nav.astro";
import { getI18N } from "@/i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<header
  id="header"
  class="header fixed left-0 w-screen z-30 top-0 bg-white backdrop-filter backdrop-blur bg-opacity-80 py-3 drop-shadow-xl"
>
  <section class="header--container flex items-stretch justify-between mx-6">
    <div class="">
      <a href="/">
        <img
          src="/hero-logo.svg"
          alt="logo"
          title=`${i18n.HEADER.LOGO}`
          class="h-12"
        />
      </a>
    </div>
    <section class="flex items-center">
      <Nav />
    </section>
  </section>
</header>
