---
import { Image } from "astro:assets";
import logo from "/public/hero-logo.svg";
---

<style>
  @keyframes fade-out-loading {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100vh);
    }
  }
  .animate-fade-out-loading {
    animation: fade-out-loading 1s ease-out both;
  }
</style>
<div class="loading fixed z-50">
  <div
    class="loading_bg fixed inset-0 bg-gradient-to-b from-white via-white via-80% h-[130vh] w-screen opacity-100 transition-all"
  >
    <div
      class="loading_img-container flex w-screen h-screen justify-center items-center animate-blurred-fade-in animate-delay-300 animate-duration-700"
    >
      <Image src={logo} alt="logo" height="80" />
    </div>
  </div>
</div>
<script>
  const loading = document.querySelector(".loading") as HTMLElement;
  function loadingFade() {
    loading.classList.add("animate-fade-out-loading");
  }
  function loadingRemove() {
    loading.style.display = "none";
  }

  window.setInterval(loadingFade, 2000);
  window.setInterval(loadingRemove, 4000);
</script>
