---
import "@fontsource/roboto";

interface Props {
  title: string;
}

const { title } = Astro.props;

import { getI18N } from "@/i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

console.log({ currentLocale });
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content=`${i18n.SEO_DESCRIPTION}` />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #000;
    --color-secondary: #36374c;
    --background-color: #f3f5f8;
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
    background: #f3f5f8;
  }
</style>
