---
import "@fontsource/roboto";

import Footer from "@/sections/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Alojamientos en Altea con wifi gratis y vistas a la montaña."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #000;
    --color-secondary: #36374c;
    --background-color: #f3f5f8;
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
    background: #13151a;
  }
</style>
